{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "@react-native-community"
    ],
    "plugins": ["@typescript-eslint"],
    "parserOptions":  {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
        "object-curly-spacing": ["error", "always"]
    }
}